<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="POST">
        <input type="text" placeholder="enter name" name="name">
        <input type="number" placeholder="enter price" name="price">
        <select name="category" id="">
            <option value="fruit">Fruit</option>
            <option value="Vegetable">Vegetable</option>

            <option value="Dairy">Dairy</option>

        </select>

<button type="submit">submit</button>
    </form>
    
</body>
</html>